.img1{
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.navbar{
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background-color: white;
  padding: -5px;
  height:100px;
  top: 0px;
}
.liste{
  display: flex;
  justify-content: space-around;
  width:400px;
}
li a {
  list-style: none;
  text-decoration: none;

}
li{
list-style:none ;
}
.dropdown-content{

display: none;
position: absolute;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  
}
h1{
  color: #00b39b;
  text-align: center;
  font-size: xx-large;
  font-family: Work Sans ,Arial,sans-serif ;
  font-weight: 300;
  margin:1em 0;
}
.container{
  display: flex;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  padding-top: 40px;
}
.P2{
  font-family:Roboto  ,Arial,sans-serif;
  font-size: 16px;
  font-weight:400 ;
  line-height: 25px;
  width: 500px;
  height: 200px;
  padding: 20px;
}
.title{
  color:#fff ;
  font-family:Work Sans ,Arial,sans-serif ;
 font-size: 26px ;
 font-weight: 400;
 line-height: 33px ;
  
}
.description{
  color:#fff;
  font-family:Work Sans ,Arial,sans-serif ;
  font-size: 24px; ;
}
.patient{
  background-color:#00ccb1 ;
  width: 30%;
display: flex;
height: 350px;
flex-direction: column;
justify-content: space-around;
;
border-radius: 10px;
}
.doctor{
  background-color:#3d83df ;
  width: 30%;
display: flex;
height: 350px;
flex-direction: column;
justify-content: space-around;
;
border-radius: 10px;
}
.clininc{
  background-color:#1b2734 ;
  width: 30%;
display: flex;
height: 350px;
flex-direction: column;
justify-content: space-around;
;
border-radius: 10px;
}
.section3{
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 400px;
  margin-left: 150px;
  margin-right: 50px;
}
select{
  border-radius:5;
  border-color: transparent;
  color:#FFF;
  font-size :20px;
  font-family: Roboto,Arial,sans-serif;
  text-decoration: underline;
  font-weight: 400;
  line-height: 25px;
  background: none; 
}